.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.menu__title {
  margin: 100px auto 0;
  max-width: 780px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 24px auto 0;
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;

}

.menu__cards {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}