  @keyframes switch {
    from {
      color: #000;
    }
    to {
      color: #3f96f3;
    }
  }
  .nav {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
 }

 .nav__logo-image {
  position: relative;
  width: 105px;
  height: 39px;
 }

 .nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-weight: 500;
 }

 .nav__link {
  text-decoration: none;
  color: #000;
 }

 .nav__link:hover {
  animation: switch 0.25s ease-in-out alternate forwards;
 }