.reservation {
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation--format {
  display: flex;
  flex-direction: column;
}

.reservation__title {
  margin: 100px auto 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}